.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;

    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* SemiBold */
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: orange;
}

.logoImg {
    width: 34px; /* 필요시 조절 */
    height: 34px;
    margin-right: 0.2rem;
}


/* 안쪽 컨테이너 */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1440px;
    padding: 1rem 2rem;
    margin: 0 auto;
}

/* 왼쪽 묶음 */
.left {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 0.2rem;
    padding-left: 7.5rem;
}

/* 로고 */
.logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: orange;
    text-decoration: none;
    white-space: nowrap;
}

.logo:hover {
    color: orange;
}

/* 메뉴 */
.nav {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 650; /* 추가: 메뉴 볼드 */
}

.link:hover {
    color: orange;
}

/* 오른쪽 로그인 버튼 */
.right {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.loginButton {
    padding: 0.5rem 1rem;
    border: 1px solid lightgray;
    font-size: 0.9rem;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    color: black;
    white-space: nowrap;
}
